/*-----------------------
    RESET
-----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------
    GENERAL
-----------------------*/



/*-----------------------
    HEADER
-----------------------*/

header {
    margin: auto;
}

/*-----------------------
    HEADER TOP
-----------------------*/

.htop {
    height: 80px;
    width: 100%;
    padding-top: 15px;
    background-color: #ADD8E6;
}

.hnav {
    display: flex;
    margin: auto;
    height: 50px;
    width: 1180px;
    background-color: #DAA520;
}

.logo {
    width: 20%;
    padding-top: 15px;
    padding-left: 20px;
    text-align: left;
    border: 2px dashed black;
}

.link {
    padding-top: 15px;
    width: 60%;
    text-align: center;
    border: 2px dashed black;
}

.login {
    padding-top: 15px;
    padding-right: 20px;
    width: 20%;
    text-align: right;
    border: 2px dashed black;
}

/*-----------------------
    HEADER BOTTOM
-----------------------*/

.hbottom {
    display: flex;
    height: 500px;
    width: 100%;
    background-color: #00008B;
}

.pink {
    margin: auto;
    height: 80%;
    width: 900px;
    background-color: #EE82EE;
    border: 1px dashed black;
}

/*-----------------------
    MAIN
-----------------------*/



/*-----------------------
    FOOTER
-----------------------*/

footer {
    background-color: #23272A;
    width: 100%;
}

/*-----------------------
    FOOTER TOP
-----------------------*/

.ftop {
    padding: 10px 0;
    height: 700px;
    margin: auto;
    display: flex;
    width: 1180px;
}

.f-left {
    height: 90%;
    width: 30%;
    background-color: #F08080;
    border: 2px dashed black;
}

.f-right {
    display: flex;
    height: 90%;
    width: 70%;
    background-color: #20B2AA;
}

.f-25 {
    width: 25%;
    border: 2px dashed white;
}

/*-----------------------
    FOOTER BOTTOM
-----------------------*/

.fbottom {
    margin: auto;
    width: 1180px;
    height: 100px;
}

.endpage {
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
    width: 1180px;
    height: 70px;
    padding: 15px 0;
}

.flogo {
    background-color: #FFB6C1;
    padding: 5px;
}

.fbottone {
    background-color: #FFB6C1;
    padding: 5px;
}